* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to top,
    #f2fd00,
    #dffb04,
    #ccf80e,
    #b9f518,
    #a5f222,
    #9cf12d,
    #94f037,
    #8bef3f,
    #8cf04a,
    #8ef253,
    #8ff35c,
    #91f465
  );
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}

@media only screen and (min-width: 600px) {
  body {
    width: auto;
  }
}
